.Student{
    display: flex;
    flex-direction: row;

    
}

.Home{
    padding: 50px;
    width: 100%;

    display: grid;
    grid-template-rows: 100px 100px;

    h1{
     font-family: var(--major-font);   
    }

    section{
        display: flex;
        align-items: center;
        justify-content: center;

        outline: var(--login-teal) 2px solid;
        border-radius: 5px;

        form{
            flex-wrap: wrap;
            width: 100%;
            display: flex;
            justify-content: space-evenly;

        }
        
    }
}