.Day{
    &.disabled{
        color: grey;
        opacity: .95;
    }

    &.cut{
        color:red;
    }

    &:hover{
        transition: all 200ms;
        border-radius: 5px;
        background-color: rgba($color: #ffffff, $alpha: .05);
    }
}