.Login{
    background-image: url('https://images.unsplash.com/photo-1497384401032-2182d2687715?ixlib=rb-4.0.3&q=80&fm=jpg&crop=entropy&cs=tinysrgb');
    background-size: cover;
    height: 100vh;
    
    display: grid;
    place-items: center;
    align-items: center;

    
    .container{
        width: 300px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background-color: var(--login-teal);
        padding:0px 25px 50px 25px;
    }

    img{
        width: 75px;
        padding: 25px 10px;
    }

    .alert{
        background-color: var(--error-white);
        border: 1.5px solid red;
        
        color:var(--error-red);
        font-family: var(--major-font);
        font-weight: 100;
        font-size: 13px;
        
        display: flex;
        justify-content: center;

        padding: 5px;
        width: 100%;
        border-radius: 5px;
        
    }
    
    form{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
        width: 100%;

        input{
            border-color: transparent;
            height: 40px;
            text-align: center;
            color: white;

        }
        
        input[type='submit']{
            background-color: white;
            border-radius: 10px;
            width: 75%;
            color: var(--login-teal);

            font-family: var(--major-font);

            cursor: pointer;

            &:hover{
                background-color: rgb(216, 214, 214);
            }

            &:disabled{
                background-color: grey;
                cursor: not-allowed;
            }
        }

        input[type='text'],input[type='password']{
            opacity: 0.7;
            background-color: transparent;
            border-bottom: 0.5px white solid;
            width: 100%;

            font-family: var(--minor-font);

            &::placeholder{
                color: white;
                text-align: center;
            }

            &:focus{
                outline:0;
            }
        }
    }
}